<h1>All Restaurants</h1>

<%= link_to 'Add a Restaurant', new_restaurant_path  %>
<% @restaurants.each do |restaurant| %>
    <div class="card">
        <% restaurant_name = restaurant.name %>
    
        <h2><%= link_to "#{restaurant_name}", restaurant_path(restaurant) %></h2> 
        
        <p><%= restaurant.category %></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
    </div>
<% end %>
